*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(234,236,247);
}
.container{
    padding-top: 10%;
    width: 100%;
    height: 700px;
    margin: auto;
}
.x{
    background-color: azure;
    height:600px;
    width: 1080px;
    margin: auto;
    box-shadow: 4px 3px 8px 4px gainsboro;
    border-radius: 50px;
}
.x_login{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    height: 90%;
    width: 45%;
    float: right;
}
.x_register{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90%;
    width: 45%;
    float: left;
    margin-left: 15px;
    display: none;
}
.x_login>*,.x_register>*{
    margin: 15px;
    letter-spacing: 0.1em;
}
.x_login>img,.x_register>img{
    width: 200px;
    height: 200px;
    margin: 30px;
}
.x_login>h1,.x_register>h1{
    letter-spacing: 0.2em !important;
    font-weight: bolder;
    color: rgb(138,154,178);
}
.x_login>h1>span,.x_register>h1>span{
    color: rgb(213,188,217);
}
.heard{
    color: rgb(138,154,178);
}
.heard>span{
    color: rgb(213,188,217);
}
.btnRegister,.btnLogin{
    background-color: rgb(104, 234, 197);
    width: 200px;
    height: 55px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 12px;
    letter-spacing: 0.25em;
    text-indent: 0.25em;
}
.y{
    background-color: rgba(213,188,217,1);
    height:700px;
    width: 500px;
    top: -50px;
    position: relative;
    margin-left: 50px;
    box-shadow: 4px 3px 8px 4px gainsboro;
    border-radius: 5px;
}
.show{
    display: none;
}
.item1{
    list-style: none;
    margin: 50px;
}
.y_login{
    width: 100%;
    height: 50%;
    padding-top: 28%;
    text-align: center;
}
.y_login>*{
}
.title{
    font-size: 40px;
    letter-spacing: 0.6em;
    font-weight: 900;
    text-indent: 0.6em;
    color:white
}
input{
    height: 38px;
    width: 300px;
    font-size: 20px;
    background-color: rgb(213,188,217);
    border-bottom: 1px solid gray;
    padding-left: 4px;
}
input:focus{
    outline: none;
}
/* input:focus::-webkit-input-placeholder{
    initial-value: " ";
} */
input::-webkit-input-placeholder{
    color: ghostwhite;
}
a{
    text-decoration: none;
    color: ghostwhite;
}
.sbtLogin{
    height: 50px;
    border-radius: 8px;
    background-color: rgb(246,246,245);
    border-bottom: none;
    padding-left: 0;
    letter-spacing: 0.2em;
    color: rgb(213,188,217);
    text-indent: 0.2em;
}
.y_register{
    padding-top: 8%;
    text-align: center;
    font-size: 12px;
    color: gray;
    display: none;
}
.y_register>*{
    margin-top: 10px;
}
.item2{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 8px;
}
.y_register>form>ul>p{
    margin: 0px;
}
.sbtRegister{
    margin-top: 10px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(246,246,245);
    border-bottom: none;
    padding-left: 0;
    letter-spacing: 0.2em;
    color: rgb(213,188,217);
    text-indent: 0.2em;
}